
body {
    background-color: #7485b5;
    margin: 0;
}
.lg1 {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header {
    background-color: #5985ff;
}
.footer {
    background-color: #1b202b;
}

@media (max-width: 768px) {
    .footer {
        height: 200px;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .footer {
        height: 100px;
    }
}
.algcen{
    justify-content: center;
}
.btn {
    color: black;
    background-color: white;
    outline: black 1px solid;
    padding: 10px;
    border-radius: 10%;
}